
.container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .container th,
  .container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .container th {
    background-color: #f2f2f2;
  }
  
  .container tr:hover {
    background-color: #f5f5f5;
  }
  
  .container h1 {
    margin-bottom: 10px;
  } 
  .class {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .class button {
    margin-right: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .class button:hover {
    background-color: #45a049;
  }
  
 
  
  
    
  /* Cardio.css

/* .container {
  width: 100%;
  border-collapse: collapse;
}

.container th,
.container td {
  padding: 10px;
  border: 1px solid #ccc;
}

.container th {
  background-color: #f2f2f2;
  text-align: left;
}

.container input[type="text"] {
  width: 100%;
  padding: 5px;
}

.container button {
  margin-right: 5px;
}

.container h1 {
  text-align: center;
}

.container td:last-child button {
  margin-right: 0;
} */
