body {
  /* background-image: url('https://i.postimg.cc/HnGJ1tTt/flat-lay-health-still-life-arrangement-with-copy-space.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.login-container {
  /* width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; */
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  /* margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-bottom: 50px; */
  margin: 0 auto;
}

.login-container h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container p.error-message {
  color: #ff0000;
  margin-bottom: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #0056b3;
}
